<div class="container" style=" font-family: 'Montserrat', sans-serif;">
  <h1 class="text-center">{{ title }}</h1>
  <hr />

  <div class="search">
      <h5>Filtrer la liste :</h5><input class="form-control" placeholder="Filtre..." #listFilter (keyup)="0" />
      <hr />
  </div>

  <item-form (onCreateItem)="onCreateItem($event)"></item-form>

  <div *ngFor="let item of collection | itemFilter:listFilter.value">
      <item [item]="item" (onGetDetails)="onGetDetails($event)"></item>
  </div>
</div>
