<div class="panel panel-default" *ngIf="item.animateState !== 'removed'" [@itemAnimationState]="item.animateState" (click)="item.toggleAnimateState()">
    <div class="panel-heading">
        <span class="text-left badge">Reference : {{ item.reference }}</span>
        <span class="pull-right" [state]="item.state"></span>
    </div>
    <div class="panel-body">
        <p>Nom du client : <span Highlight>{{ item.name | uppercase }}</span></p>

        <div *ngIf="2 !== item.state">
            Changer le statut : <a href (click)="changeState($event, 1)" *ngIf="2 !== item.state && 1 !== item.state" data-id="{{ item.reference }}" class="label label-info">En cours de livraison</a>
            <span *ngIf="2 !== item.state && 1 !== item.state">|</span>
            <a href (click)="changeState($event, 2)" *ngIf="2 !== item.state" data-id="{{ item.reference }}" class="label label-success">livrée</a>
        </div>
    </div>
</div>
